@import '../../variables.css';
.display {
    grid-area: d;
    justify-self: end;
    align-self: end;
    height: 100%;
    width: calc(100% - 1rem);
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: flex-end;
    justify-content: end;
    outline: 1px solid var(--off);
    outline-offset: 7px;
    box-shadow: inset 4px 6px 25px -5px var(--shadow-1);
    transition: .6s;
    overflow: hidden;
    padding-bottom: 5px;
    padding-inline: .5rem;
}

.display :first-child {
    font-size: 4rem;
}

.display .text {
    flex-basis: 100%;
    text-align: end;
}