:root {
    --shadow-1: #1e222530;
    --shadow-2: #1e222560;
    --light-1: #ffffff60;
}

:root .dark * {
    --bg-1: #52585a;
    --bg-2: #1e2327;
    --bg-btn: #3A3D40;
    --off: #ffffff60;
}

:root .light * {
    --bg-1: #dff7ff;
    --bg-2: #8badc9;
    --bg-btn: #a0b1b9;
    --off: #00000060;
}